@model PL.ViewModels.UserProfileSelectionViewModel

<div class="container">
    <div id="userCards" class="row">
        <div class="col-12 userCard">
            <div class="d-flex justify-content-center align-items-center">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Model.UserToDisplay.FirstName @Model.UserToDisplay.LastName</h5>
                        <p class="card-text">
                            Age: @Model.UserToDisplay.Age<br />
                            Gender: @Model.UserToDisplay.Gender<br />
                            Relation Type: @Model.UserToDisplay.RelationType<br />
                            Bio: @Model.UserToDisplay.Bio
                        </p>
                        <h6>Interests:</h6>
                        <div class="row">
                            @foreach (var interest in Model.UserToDisplay.Interests)
                            {
                                @if (!Model.CurrentUser.Interests.Select(i => i.Id).Contains(interest.Id))
                                {
                                    <div class="col mb-3 ">
                                        <div class="card interest-card">
                                            <div class="card-body">
                                                <p class="card-title">@interest.Name</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col mb-3">
                                        <div class="card interest-card selected-interest">
                                            <div class="card-body">
                                                <p class="card-title">@interest.Name</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <button class="btn btn-success likeBtn" data-user-id="@Model.UserToDisplay.Id">Like</button>
                            <button class="btn btn-danger dislikeBtn" data-user-id="@Model.UserToDisplay.Id">Dislike</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        $(".likeBtn, .dislikeBtn").click(function (e) {
            // Show the spinner
            $("#spinner").css("display", "block");
            $("#card-container").css("display", "none");

            var action = $(this).hasClass("likeBtn") ? "Like" : "Dislike";
            var userId = $(this).data("userId");
            var url = `/Profile/${action}`;

            // Get the anti-forgery token
            var token = $('[name=__RequestVerificationToken]').val();

            $.ajax({
                url: url,
                type: 'POST',
                data: { userId: userId },
                headers: {
                    'RequestVerificationToken': token
                },
                success: function (response) {
                    $("#card-container").css("display", "block");
                    $("#spinner").css("display", "none");
                    $("#card-container").html(response);
                }
            });
        });
</script>