@model Presentation_Layer.ViewModels.SurveyViewModel

@{
    ViewData["Title"] = "PassSurvey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<h3>@Model.Description</h3>
@using (Html.BeginForm("SurveyProcessing", "Survey", FormMethod.Post))
{
@for (var i = 0; i < Model.Questions.Count; i++)
{
    <h4>@(i + 1): @Model.Questions[i].Body</h4>
    @for (var j = 0; j < Model.Questions[i].Options.Count; j++)
    {
        <div class="form-check">
            @Html.RadioButtonFor(model => model.User.Answers[i].Answer,
                Model.Questions[i].Options[j].OptionText, new { @class = "form-check-input", name = $"Question_{i + 1}", id = $"Question_{i + 1}_Option_{j + 1}" })

            @Html.Label(Model.Questions[i].Options[j].OptionText, null, new { @class = "form-check-label", @for = $"Question_{i + 1}_Option_{j + 1}" })
        </div>
    }
    <br/>
}
    <div class="form-group">
        <input type="submit" value="Відправити" class="btn btn-primary"/>
    </div>
}
