@model PL.ViewModels.UserProfileSelectionViewModel

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container center-div">
    @foreach (var userCard in Model.UsersToDisplay)
    {
        <div class="card custom-form1 userCard" style="display: none;">
            <div class="pt-5 px-5">
                <div class="pt-5 px-5">
                    <h1 class="card-title text-center">@userCard.FirstName @userCard.LastName</h1>
                    <p class="card-text">
                        <div class="mb-1">
                            <label class="fw-bold">Age: </label> @userCard.Age
                        </div>
                        <div class="mb-1">
                            <label class="fw-bold">Gender: </label> @userCard.Gender
                        </div>
                        <div class="mb-1">
                            <label class="fw-bold">Relation Type: </label> @userCard.RelationType
                        </div>
                        <div class="mb-1">
                            <label class="fw-bold">Bio: </label> @userCard.Bio
                        </div>
                    </p>
                    <h4 class="fw-bold">Interests:</h4>
                    <div class="row">
                        @foreach (var interest in userCard.Interests)
                        {
                            @if (!Model.CurrentUser.Interests.Select(i => i.Id).Contains(interest.Id))
                            {
                                <div class="col mb-3">
                                    <div class="interest-card px-2 py-2 d-flex align-items-center justify-content-center">
                                        <p class="card-title mb-0">@interest.Name</p>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col mb-3">
                                    <div class="mutual-interest px-2 py-2 d-flex align-items-center justify-content-center">
                                        <p class="card-title mb-0">@interest.Name</p>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
            <div class="text-center py-5 px-5">
                <button class="custom-like-button likeBtn mx-2" data-user-id="@userCard.Id">Like</button>
                <button class="custom-dislike-button dislikeBtn" data-user-id="@userCard.Id">Dislike</button>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Show the first user card
            $(".userCard").first().show();

            // Like and Dislike button click handlers
            $(".likeBtn, .dislikeBtn").click(function () {
                let currentCard = $(this).closest(".userCard");
                let action = $(this).hasClass("likeBtn") ? "Like" : "Dislike";
                let userId = $(this).data("user-id");

                // Get AntiForgeryToken
                let token = $('input[name="__RequestVerificationToken"]').val();

                // Send like or dislike action to the server
                $.post("/Profile/" + action, 
                { 
                    userId: userId,
                    __RequestVerificationToken: token // Include the token in the request
                }, 
                function (result) {
                    // Hide the current card and show the next one
                    currentCard.hide().next(".userCard").show();
                });
            });
        });
    </script>
}